<!--
  Copyright (c) 2016-2019 Martin Donath <martin.donath@squidfunk.com>

  Permission is hereby granted, free of charge, to any person obtaining a copy
  of this software and associated documentation files (the "Software"), to
  deal in the Software without restriction, including without limitation the
  rights to use, copy, modify, merge, publish, distribute, sublicense, and/or
  sell copies of the Software, and to permit persons to whom the Software is
  furnished to do so, subject to the following conditions:

  The above copyright notice and this permission notice shall be included in
  all copies or substantial portions of the Software.

  THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
  IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
  FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. IN NO EVENT SHALL THE
  AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
  LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
  FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS
  IN THE SOFTWARE.
-->

{% import "partials/language.html" as lang with context %}

<!--
  Check whether the repository is hosted on one of the supported code hosting
  platforms (GitHub, GitLab or Bitbucket) to show icon.
-->
{% set platform = config.extra.repo_icon or config.repo_url %}
{% if "github" in platform %}
  {% set repo_type = "github" %}
{% elif "gitlab" in platform %}
  {% set repo_type = "gitlab" %}
{% elif "bitbucket" in platform %}
  {% set repo_type = "bitbucket" %}
{% else %}
  {% set repo_type = "" %}
{% endif %}

{% if page and page.url.startswith('frontend') %}
  {% set repo_url = "https://gitlab.com/soapbox-pub/soapbox" %}
  {% set repo_name = "soapbox-pub/soapbox" %}
{% elif page and page.url.startswith('backend') %}
  {% set repo_url = "https://gitlab.com/soapbox-pub/rebased" %}
  {% set repo_name = "soapbox-pub/rebased" %}
{% else %}
  {% set repo_url = config.repo_url %}
  {% set repo_name = config.repo_name %}
{% endif %}

<!-- Repository containing source -->
<a href="{{ repo_url }}" title="{{ lang.t('source.link.title') }}"
    class="md-source" data-md-source="{{ repo_type }}">
  {% if repo_type %}
    <div class="md-source__icon">
      <i class="fa fa-{{ repo_type }}" aria-hidden="true"></i>
    </div>
  {% endif %}
  <div class="md-source__repository">
    {{ repo_name }}
  </div>
</a>
